@model IEnumerable<Employee_Salary_Haidar.ViewModel.PayrollsViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payroll</h4>
    <hr />
    <dl class="row">
        @foreach (var item in Model)
        {
            @if (item.EmployeeType == "Regular")
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Period)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Period)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.EmployeeType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.EmployeeType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.BirthDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.TIN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.TIN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Absences)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Absences)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.SalaryTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.SalaryTotal)
                </dd>

            }
            else
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Period)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Period)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.EmployeeType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.EmployeeType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.BirthDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.TIN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.TIN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.WorkDays)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.WorkDays)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.SalaryTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.SalaryTotal)
                </dd>
            }

        }

    </dl>
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
